{{ define "content" }}
  
<section class="site-section" id="section-about">
        <div class="container">
          <div class="row">
            <div class="col-md-5 site-animate mb-5">
              <h4 class="site-sub-title">{{.Params._meta_title}}</h4>
                <h2 class="site-primary-title display-4">{{ with .Params.title }}{{ . | safeHTML }}{{ end }}</h2>
                <p>{{ with .Params.description }}{{ . | safeHTML }}{{ end }}</p>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-6 site-animate img" data-animate-effect="fadeInRight">
                <img src="{{.Params.image}}" alt="{{.Params.image}}" class="img-fluid">
            </div>
          </div>
        </div>
      </section>
      <section class="site-section" id="section-events">
                    <div class="container">
      
      {{range .Pages}}
                        
            <div class="card">
                
                <div class="card-body">
                    <h5 class="card-title">{{ with .Params.title }}{{ . | safeHTML }}{{ end }}</h5>
                    <p class="card-text">{{ with .Params.description }}{{ . | safeHTML }}{{ end }}</p>
                    <a href="{{lower .Params.name}}" class="btn btn-primary">More Information </a> 
                </div>
            </div>
      {{end}}
          </div>
  </section>
  
  
{{ end }}

