{{ define "content" }}
  
<section class="site-section" id="section-about">
        <div class="container">
          <div class="row">
            <div class="col-md-5 site-animate mb-5">
              <h4 class="site-sub-title">Events</h4>
                <h2 class="site-primary-title display-4">{{ with .Params.title }}{{ . | safeHTML }}{{ end }}</h2>
                <p>{{ with .Params.description }}{{ . | safeHTML }}{{ end }}</p>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-6 site-animate img" data-animate-effect="fadeInRight">
                <img src="{{.Params.image}}" alt="{{.Params.image}}" class="img-fluid">
            </div>
          </div>
        </div>
      </section>
      <section class="site-section" id="section-events">
                    <div class="container">
      {{ $data := getJSON "http://burger.zesty.site/-/basic-content/6-8d6f30-zc84qx.json"}}
      {{range $data.data}}
                        
                        <div class="card">
                            
                            <div class="card-body">
                                <h5 class="card-title">{{ with .name }}{{ . | safeHTML }}{{ end }}</h5>
                                <p class="card-text">On {{ with .date }}{{ . | safeHTML }}{{ end }} at all locations worldwide.</p>
                                <a href="http://burger.zesty.site/-/custom/event.ics?id={{._item_zuid}}" class="btn btn-primary">Add to Calendar</a>
                                <a href="{{lower .name}}" class="btn btn-primary">View Event Page </a>
                            </div>
                        </div>
      {{end}}
          </div>
  </section>
  
  
{{ end }}

