    {{ define "content" }}
    <section class="site-section" id="section-about">
      <div class="container">
        <div class="row">
          <div class="col-md-5 site-animate mb-5">
            <h4 class="site-sub-title">Our Story</h4>
			  <h2 class="site-primary-title display-4">{{.Params.header}}</h2>
			  {{.Params.description}}
			  <p><a href="{{.Params.link_destination}}" class="btn btn-secondary btn-lg">{{.Params.link_title}}</a></p>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-6 site-animate img" data-animate-effect="fadeInRight">
			  <img src="{{.Params.image}}" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </section>
    {{ end }}